/*Fonts*/
@font-face {
    font-family: 'Computer Regular';
    src: url(/!g/!g/computer-regular-2_ufonts.com.ttf) format('truetype');
}   
@font-face {
    font-family: 'TT Hoves';
    src: url('/!g/!g/TT Hoves Pro Trial Condensed Regular.ttf') format('truetype');
}  
/*Formatting*/
a {
    color: Blue;
    text-decoration: underline;
    user-select: all;
    -webkit-user-select: auto;
    font-size:20px;
}
* {
  user-select: none;
  -webkit-user-select: none;
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/*Normal Items*/
body {
    background-color: black;
    width:100%;
    font-family: 'TT Hoves';
    /*background-image:url(/!f/Texture1.png);
    background-size: cover;*/
}
main {
    flex:3;
    color: white; 
    font-family: 'TT Hoves'; 
    font-size:20px;
}
aside {
    color:#9564DD;
}
/*Special Divs*/
.container {
    max-width: 100%;
    margin: 0 auto;
    display:flex;
    justify-content:center;
    flex-direction: column;
    min-height:100vh;
}
.header {
    font-family: 'Computer Regular', monospace;
    font-size:7vh;
    background-color: blue;
    color:white;
    padding-left:3vw;
    padding-top:1vh;
    padding-bottom:0vh;
    padding-right:3vw;
}
.sideBar{
    background:blue;
    width:2vw;
    height:100vh;
    position:fixed;
    top: 0;
}
#sideBarLeft{
    margin-left:0px;
    left: 0;
}
#sideBarRight{
margin-right:0px;
right:0;
}
.footer {
    font-family: 'Computer Regular', monospace;
    font-size:40px;
    background-color: blue;
    color:white;
    padding-left:3vw;
    padding-right:3vw;
    height:1vh;
}
.pageContent {
    display:flex;
    flex:1;
    padding: 2vh 3vw;   
    align-items: flex-start;
}
.bodyText {
    padding:2%;
    color:black;
    background-color:white;
}
.links {
    text-align: right;
    padding-right: 5%;
    background-color:white;
    margin-left:1vw;
    padding:2%;
    width: max-content;
}
.buttons {
    text-align: center;
    background-color:white;
    margin-left:1vw;
}
.buttonsImgs {
    background-color:white;
    margin:2px;
    width:88px;
    height:31px;
}
#asideLinks{
    flex: 0 0 auto;
    min-width: max-content;   
}
#asideButtons{}


